

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    height: 180vh;
    
}

header{
    border: 1px solid black ;
    height: 40% ;
    background-color: black;
}

header .banner{
    /* border: 1px solid rgb(255, 255, 255) ; */
    height: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 auto;
}

header .banner .bannerLeft{
    /* border: 1px solid rgb(255, 255, 255); */
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

header .banner .bannerLeft .bannerLeftItems{
    display: flex;
    align-items: center;
}

header .banner .bannerLeft .bannerLeftItems i{
    color: goldenrod;
}

header .banner .bannerRight{
    /* border: 1px solid rgb(255, 255, 255); */
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: space-between;
}

header .banner .bannerRight .bannerRightItems{
    display: flex;
    align-items: center;
}

header .menu{
    background-color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}

header .menu .menuContainer{
    width: 90%;
    margin: 0 auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header .menu .logo{
    
} */

header .menu .links{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .menu .links ul{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

header .menu .links ul li select{
    background-color: white;
    /* color: black; */
    border: none;
    font-size: 100%;
    font-weight: 900;
}

header .menu .links ul li select:hover{
    color: goldenrod;
}

header .menu .links ul li select.active{
    color: goldenrod;
}

header .menu .links ul li a{
    background-color: white;
    color: black;
    border: none;
    font-size: 100%;
    font-weight: 900;
}

header .menu .links ul li a:hover{
    color: goldenrod;
}

header .slider{
    /* border: 1px solid rgb(255, 255, 255); */
    height: 70%;
    
}

header .slider img{
    height: 100%;
    width: 100%;
}


main{
    /* border: 1px solid black ; */
    height: 40% ;
    width: 100%;
}

main .mainContainer{
    /* border: 1px solid black; */
    height: 100%;
    width: 90%;
    margin: 2% auto;
    display: flex;
}

main .mainContainer .leftMainContainer{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
}

main .mainContainer .leftMainContainer .topLeftMainConatiner{
    /* border: 1px solid black; */
    height: 50%;
    width: 100%;
}

main .mainContainer .leftMainContainer .topLeftMainConatiner h1{
    font-size: 2em;
    margin-bottom: 2%;
}

main .mainContainer .leftMainContainer .topLeftMainConatiner p{
    font-size: 1em;
    margin-bottom: 1%;;
}

main .mainContainer .leftMainContainer .bottomLeftMainConatiner{
    /* border: 1px solid black; */
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .mainContainer .leftMainContainer .bottomLeftMainConatiner .progressContainer{
    /* border: 1px solid black; */
    width: 100%;
    height: 90%;
}

main .mainContainer .leftMainContainer .bottomLeftMainConatiner .progressContainer label{
    font-weight: bold;
    font-size: 1.3em;
}

main .mainContainer .leftMainContainer .bottomLeftMainConatiner .progressContainer progress{
    width: 100%;
    height: 20%;
    background: white;
    border:none;
}

main .mainContainer .leftMainContainer .bottomLeftMainConatiner .progressContainer progress::-moz-progress-bar{
     background: goldenrod; 
}

main .mainContainer .rightMainContainer{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

main .mainContainer .rightMainContainer img{
    height: 100%;
    width: 40%;
}

footer{
    background-color: black;
    color: white;
    height: 20% ;
    padding-top: 4%;
}

footer .footerContainer{
    /* border: 1px solid rgb(191, 129, 13); */
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

footer .footerContainer .topFooterContainer{
    /* border: 1px solid rgb(191, 129, 13); */
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

footer .footerContainer .bottomFooterContainer{
    /* border: 1px solid rgb(13, 191, 69); */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
}

footer .footerContainer .bottomFooterContainer .bottomFooterContainerItems{
    /* border: 1px solid rgb(191, 129, 13); */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer .footerContainer .bottomFooterContainer .bottomFooterContainerItems .icon{
    font-size: 2em;
    color: goldenrod;
}

footer .footerContainer .bottomFooterContainer .bottomFooterContainerItems .title{
    font-size: 2em;
}

footer .footerContainer .bottomFooterContainer .bottomFooterContainerItems .details{
    font-weight: 200;
    color: rgba(255, 255, 255, 0.635);
}

 /* --------------------------------------------------------------- */


 @media (max-width: 768px) {
    body {
        height: auto; 
    }

    header {
        height: auto; 
        padding: 10px; 
    }

    header .banner {
        flex-direction: column; 
    }

    header .banner .bannerLeft {
        width: 100%; 
        margin-bottom: 10px; 
    }

    header .banner .bannerRight {
        width: 100%; 
    }

    header .menu {
        height: auto; 
        padding: 10px; 
    }

    header .menu .menuContainer {
        flex-direction: column;
    }

    header .menu .links {
        width: 100%; 
    }

    header .menu .links ul {
        flex-direction: column; 
    }

    header .slider {
        height: auto; 
        padding: 10px; 
    }

    header .slider img {
        width: 100%; 
    }

    main {
        height: auto; 
    }

    main .mainContainer {
        flex-direction: column; 
    }

    main .mainContainer .leftMainContainer,
    main .mainContainer .rightMainContainer {
        width: 100%; 
    }

    footer {
        height: auto; 
        padding: 10px;
        
    }

    footer .bottomFooterContainer{
        display: flex;
        flex-direction: column;
    }
}



@media (min-width: 769px) {
   
}